<div class="container__page">
    <!-- Title-->
    <app-title [name]=countryName></app-title>

    <!-- Cards -->
    <div class="cards">
        <app-card [name]="'Number of entries'" [values]=nbParticipations></app-card>
        <app-card [name]="'Total number medals'" [values]=totalMedals></app-card>
        <app-card [name]="'Total number of athletes'" [values]=totalAtlhetes></app-card>
    </div>

    <!--- Chart -->
    <apx-chart class="chart__details"
        [chart]="chartOptions['chart']"
        [dataLabels]="chartOptions['dataLabels']"
        [grid]="chartOptions['grid']"
        [responsive]="chartOptions['responsive']"
        [series]="chartOptions['series']"
        [stroke]="chartOptions['stroke']"
        [title]="chartOptions['title']"
        [tooltip]="chartOptions['tooltip']"
        [xaxis]="chartOptions['xaxis']"
        [yaxis]="chartOptions['yaxis']"

    ></apx-chart>
    <span class="chart__title">Dates</span>

    <!-- Back -->
    <nav>
        <app-button [name]="'Back'" [link]="'/'"></app-button>
    </nav>
</div>