<div class="container__page">
    <!-- Title-->
    <app-title [name]="'Name of the country'"></app-title>

    <!-- Cards -->
    <div class="cards">
        <app-card [name]="'Number of entries'" [values]=3></app-card>
        <app-card [name]="'Total number medals'" [values]=5></app-card>
        <app-card [name]="'Total number of athletes'" [values]=32></app-card>
    </div>

    <!--- Chart -->
    <apx-chart
        [series]="chartOptions['series']"
        [chart]="chartOptions['chart']"
        [xaxis]="chartOptions['xaxis']"
        [yaxis]="chartOptions['yaxis']"
        [dataLabels]="chartOptions['dataLabels']"
        [grid]="chartOptions['grid']"
        [stroke]="chartOptions['stroke']"
        [title]="chartOptions['title']"
        [tooltip]="chartOptions['tooltip']"
    ></apx-chart>

    <!-- Back -->
    <nav>
        <app-button [name]="'Back'" [link]="'/'"></app-button>
    </nav>
</div>