// Cards
.cards {
    align-items: center;
    display: flex;
    gap: 0 20px;
    justify-content: center;
    margin-top: 25px;
}


// Chart
.chart__title {
    display: block;
    font-size: 24px;
    text-align: center;
}