// Title
.page__title {
    background-color: #04838F;
    border-radius: 10px;
    font-weight: normal;
    color: #FFFFFF;
    margin: auto;
    padding: 5px 15px;
    text-align: center;
    width: fit-content;
}