// Button
.button {
    background-color: #04838F;
    border-radius: 10px;
    color: #FFFFFF;
    display: block;
    margin: 10px auto auto auto;
    padding: 10px 15px;
    text-decoration: none;
    width: fit-content;
}