// Container
.container__page {
    align-items: center;
    display: flex;
    flex-direction: column;
}


// Cards
.cards {
    align-items: center;
    display: flex;
    gap: 0 20px;
    justify-content: center;
    margin-top: 25px;
}


// Chart
.chart {
    display: flex;
    margin-top: 25px;
}