<div class="container__page">
    <!-- Title-->
    <h1 class="page__title">Medals per Country</h1>

    <!-- Cards -->
    <div class="cards">
        <div class="card">
            <span class="card__title">Number of JOs</span>
            <span class="card__number">{{ (olympicsJo) }}</span>
        </div>
        <div class="card">
            <span class="card__title">Number of countries</span>
            <span class="card__number">{{ (olympics$ | async)?.length }}</span>
        </div>
    </div>

    <!-- Chart-->
    <apx-chart class="chart"
        [series]="chartOptions['series']"
        [chart]="chartOptions['chart']"
        [labels]=olympicCountries
        [legend]="chartOptions['legend']"
        [responsive]="chartOptions['responsive']"
    ></apx-chart>
</div>