// Container
.container__page {
    align-items: center;
    display: flex;
    flex-direction: column;
}


// Title
.page__title {
    background-color: #04838F;
    border-radius: 10px;
    font-weight: normal;
    color: #FFFFFF;
    margin: auto;
    padding: 5px 15px;
    text-align: center;
    width: fit-content;
}


// Cards
.cards {
    align-items: center;
    display: flex;
    gap: 0 20px;
    justify-content: center;
    margin-top: 25px;
}


// Chart
.chart {
    display: flex;
    margin-top: 25px;
}