<div class="container__page">
    <!-- Title-->
    <app-title [name]="'Medals per Country'"></app-title>

    <!-- Cards -->
    <div class="cards">
        <app-card [name]="'Number of JOs'" [values]=numberJo></app-card>
        <app-card [name]="'Number of countries'" [values]="numberCountries"></app-card>
    </div>

    <!-- Chart-->
    <apx-chart class="chart__home"
        [chart]="chartOptions['chart']"
        [fill]="chartOptions['fill']"
        [labels]="chartOptions['labels']"
        [legend]="chartOptions['legend']"
        [responsive]="chartOptions['responsive']"
        [series]="chartOptions['series']"
        [tooltip]="chartOptions['tooltip']" 
    ></apx-chart>
</div>