<!-- Title-->
<h1 class="page__title">Medals per Country</h1>

<!-- Cards -->
<div class="cards">
    <div class="card">
        <span class="card__title">Number of JOs</span>
        <span class="card__number"></span>
    </div>
    <div class="card">
        <span class="card__title">Number of countries</span>
        <span class="card__number"></span>
    </div>
</div>

<!-- Chart-->
<p>{{ (olympics$ | async)?.length }} data loaded</p>
<apx-chart
    [series]="chartOptions['series']"
    [chart]="chartOptions['chart']"
    [labels]="chartOptions['labels']"
    [legend]="chartOptions['legend']"
></apx-chart>