// Content
* {
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}


// Container
.container__page {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;

    &--center {
        justify-content: center;
        min-height: calc(100vh - 40px);
    }
}


// Cards
.cards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
}


// Chart
.chart__tooltip {
    background-color: #04838F;    
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 2px 0;
    min-width: 60px;
    padding: 5px 10px;
    text-align: center;
}


/// Responsive
@media screen and (max-width: 992px) {
    .cards {
        flex-direction: column;
    }

    .cards > app-card {
        display: flex;
        flex-grow: 1;
        width: 100%;
    }
}